body {
    width: 960px;
    margin: 0px auto;
    background-image: linear-gradient(white, rgb(0, 194, 194), rgb(54, 3, 194));
    background-repeat: space;
    font-family: sans-serif;
}

header {
    height: 40px;
    padding: 15px 20px;
    font-size: 24px;
    letter-spacing: -1px;
}

header img {
    height: 40px;
    border-radius: 2px;
    margin-right: 5px;
    float: left;
}

h1 {   
    display: inline-block;
    height: 40px;
    padding: 8px 0px;
}

header nav {
    float: right;
}

header ul {
    display: flex;
}

header li {
    display: inline-block;
    font-size: 16px;
    border: solid 1px orange;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding: 10px 15px;
    margin: 0;
}

header a li {
    background-color: black;
    color: white;
    border-color: orange;
}

aside {
    float: left;
    color: orange;
    font-family: 'VT323', monospace;
    font-size: 10px;
    width: 172px;
    height: 380px;
    margin: 0px;
}
aside div {
    width: 152px;
    height: 380px;
    overflow: auto;
    background: black;
    padding: 10px;
}
aside h2 {
    font-size: 20px;
    text-align: center;
}
aside li {
    margin-bottom: 5px;
    font-size: 12px;
}

main {
    width: 764px;
    display: inline-block;
}

main img {
    height: 160px;
    width: 190px;
    object-fit: cover;
    border: 5px solid transparent;
    border-radius: 5px;
    margin: 10px;
    transition: filter 1s;
    cursor: pointer;
}

main div {
    padding: 0px 46px;
}

#products img:hover {
    filter: opacity(50%);
    border-color: orange;
}

#reset {
    display: block;
    width: 400px;
    color: white;
    font-size: 20px;
    background-color: black;
    border-color: orange;
    border-radius: 10px;
    margin: 10px auto;
    cursor: pointer;
}

p {
    padding: 10px 46px;
}

main>img {
    margin: 0px 272px;
    border: 5px orange solid;
}