body {
    width: 960px;
    margin: 0px auto;
    background-image: linear-gradient(white, rgb(0, 194, 194), rgb(54, 3, 194));
    border: 1px solid black;
    background-repeat: space;
    font-family: sans-serif;
}

header {
    height: 40px;
    padding: 15px 20px;
    font-size: 24px;
    letter-spacing: -1px;
    border: orange solid 1px;
}

header img {
    height: 40px;
    border-radius: 2px;
    margin-right: 5px;
    float: left;
}

h1 {   
    display: inline-block;
    height: 40px;
    padding: 8px 0px;
}

header nav {
    float: right;
}

header ul {
    display: flex;
}

header li {
    display: inline-block;
    font-size: 16px;
    border: solid 1px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding: 10px 15px;
    margin: 0;
}

aside {
    padding: 10px;
    float: left;
    width: 172px;
    height: 380px;
    border: blue solid 1px;
    margin: 0px;
}
aside div {
    width: 172px;
    height: 380px;
    overflow: auto;
    background: white;
    border: black solid 1px;
}

main {
    width: 764px;
    display: inline-block;
    border: white solid 1px;
}

main img {
    height: 160px;
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px;
}

main div {
    border: black solid 1px;
    padding: 0px 46px;
}
main>img {
    margin: 0 auto;
}

#reset {
    display: block;
    width: 400px;
    color: white;
    font-size: 20px;
    background-color: black;
    border: white solid 1px;
    border-radius: 10px;
    margin: 10px auto;
}

section {
    width: 960px;
}