body {
    width: 960px;
    margin: 0px auto;
    background-image: linear-gradient(white, rgb(0, 194, 194), rgb(54, 3, 194));
    background-repeat: space;
    font-family: sans-serif;
}

header {
    height: 100px;
    font-size: 30px;
    border-bottom: black solid 5px;
}

header img {
    height: 70px;
    border: white solid 5px;
    border-radius: 10px;
    float: left;
    margin-top: 10px;
}

h1 {   
    display: inline-block;
    padding: 35px 10px;
}

header nav {
    padding-top: 55px;
    float: right;
}

 header li {
     display: inline-block;
     font-size: 20px;
     border: solid 2px black;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     background-color: white;
     padding: 5px;
 }

 aside {
     margin: 10px 0;
     float: left;
     width: 200px;
     height: auto;
     min-height: 400px;
     background: white;
     border-radius: 10px;
 }

#products img {
    height: 160px;
    width: 200px;
    object-fit: cover;
    border: 1px solid red;
}
